body {
    background-color: #555b6e;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.calc-wrapper {
    padding: 25px 20px;
    background-color: #89b0ae;
    border: 2px solid black;
    border-radius: 5px;
    width: 400px;
}

.screen {
    height: 80px;
    background-color: #faf9f9;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.temp-result {
    width: 100%;
    font-size: 20px;
    display:flex;
    border-bottom: 1px solid black;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;    
}

.result {
    width: 100%;
    font-size: 40px;
    display: flex;
    flex: 2;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    white-space: nowrap;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.span-2 {
    grid-column: span 2;
}

.btn-num {
    padding: 20px;
    background-color: #bee3db;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.btn-num:hover {
    background-color: #e5f4f1;
}

.btn-op {
    padding: 20px;
    background-color: #ffd6ba;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.btn-op:hover {
    background-color: #ffebdd
}

.btn-func {
    padding: 20px;
    background-color: #ffd6ba;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.btn-func:hover {
    background-color: #ffebdd
}

